body {
  margin: 0px;
}
.border {
  border: solid 1px lightgrey;
}
.main {
  height: 660px;
  width: auto;
}
.footer {
  padding: 0px 16px 0px 16px;
  height: 115px;
  width: auto;
  text-align: center;
}
.first_frame {
  height: 644px;
  width: auto;
  margin-top: 20px;
  padding-bottom: 32px;
}
.content {
  justify-content: center;
  display: flex;
}
.left {
  margin: 20px 32px 12px 0px;
  height: 581px;
  width: 380px;
  flex-direction: column;
}
#imgfirst {
  position: absolute;
  height: 581px;
  width: 380px;
}
#imageContainer {
  height: 581px;
  width: 380px;
  position: relative;
}

.fade-in-out {
  height: 581px;
  width: 380px;
  position: absolute;
  top: px;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.right {
  margin-top: 12px;
  height: 632.333px;
  width: 350px;
  border-top-width: 0px;
  flex-direction: column;
  align-items: center;
}

.login_first {
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  height: 401px;
  width: 348.667px;
  flex-direction: column;
}
.logo {
  height: 55px;
  width: 175px;
  margin: 36px 0px 12px 0px;
}
.logoimg {
  height: 55px;
  width: 175px;
}
.loginmain {
  margin-bottom: 10px;
  height: 266.984px;
  width: 348px;
}
.loginmain_a {
  height: 266.984px;
  width: 348px;
}
.loginmain_b {
  margin-top: 24px;
  height: 214.984px;
  width: 348px;

  flex-direction: column;
}
.idpassword {
  margin: 0px 40px 6px 40px;
  height: 38px;
  width: 268px;
}
.idpassword_a {
  height: 36px;
  width: 266px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background-color: rgb(250, 250, 250);
}

.inputid {
  font-size: 12px;
  background: rgb(250, 250, 250);
  border: 0;
  margin: o;
  padding: 9px 0px 7px 8px;
  width: 255px;
}
.loginbutton {
  margin: 8px 40px;
  height: 32px;
  width: 268px;
}

.button {
  color: white;
  padding: 6px 16px;
  height: 34px;
  width: 268px;
  background-color: rgba(0, 149, 246);
  opacity: 0.7;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.button > div {
  height: 18px;
  width: 236px;
}
.loginmain_b_1 {
  margin: 10px 40px 18px 40px;
  height: 14.984px;
  width: auto;
  display: block;
}
.loginmain_b_1_main {
  height: 14.969px;
}
.loginmain_b_1_main > div {
  display: inline-block;
}
.loginmain_b_1_main_line {
  border-top: solid 1px lightgray;
  height: 5px;
  width: 95px;
}
.loginmain_b_1_main_text {
  margin: 0 18px 0 18px;
  height: 14.984px;
  width: 30px;
  font-size: 12px;
}
.loginmain_b_2 {
  margin: 8px 40px;
  height: 20px;
  width: 268px;
  text-align: center;
}
a {
  text-decoration-line: none;
}
.loginmain_b_2 > a > div {
  height: 20px;
  width: 268px;
  border: 0px;
  padding: 0px;
  background-color: white;
}
.loginmain_b_2 > a > div > span:nth-child(1) {
  position: relative;
  left: 3px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.loginmain_b_2 > a > div > span:nth-child(2) {
  position: relative;
  top: 2px;
}
.facelo1 > img {
  height: 16px;
  width: 16px;
}
.facelo2 {
  font-weight: 600;
  font-size: 14px;
  color: #385185;
}
.loginmain_c {
  margin-top: 12px;
  height: 16px;
  width: 348px;
}
.loginmain_c > div {
  color: rgb(0, 55, 107);
  height: 16px;
  width: 348px;
  font-size: 1.2rem;
  text-align: center;
}
.loginmain_c > div > a {
  color: rgb(0, 55, 107);
}
.login_second {
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  height: 63px;
  width: 348.667px;
  align-items: center;
  text-align: center;
}
.login_second > span {
  width: 348.667px;
  font-size: 1.3rem;
}
.login_second > span > p {
  display: inline-block;
  margin-bottom: 0px;
}
.login_second > span > a {
  color: rgba(0, 149, 246);
  font-weight: 600;
}
.login_third {
  text-align: center;
  height: 94.333px;
  width: 350px;
}

.login_third > div {
  font-size: 14px;
  margin: 15px;
}
.footerFirst {
  margin-top: 24px;
}
.footerSecond {
  margin: 12px 0px;
}
.footerText {
  font-size: 1.3rem;
  margin: 0px 5px 0px 5px;
  color: #385898;
}
.footerText > a {
  color: #385898;
}
.dropdown {
  display: inline-block;
}
.language {
  background-color: white;
  border: 0;
  color: #385898;
}
